/* FX-Variables for StudiPlaner-Application */

* {
    -accent-color: white;
    -accent-color-dark: #3c3c3c;
    -font-color: black;
    -fx-font-family: 'Montserrat';
}

/* Menu-Bar-Preferences */

#menuHauptButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.menu-title {
    -fx-font-weight: bold;
    -fx-text-fill: #0072a0;
}

.menu-bc {
    -fx-text-transform: darkgrey;
    -fx-font-weight: normal;
}

.icon-menu {
    -fx-background-color: -accent-color;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 1);
}

.icon-menu-button {
    -fx-background-color: transparent;
}

.icon-menu-button:hover {
    -fx-cursor: hand;
}

.menu-bar {
    -fx-background-color: -accent-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 1);
}

.menu-main-button {
    -fx-alignment: CENTER;
}

.menu-button:hover {
    -fx-background-color: -accent-color;
}

.menu-button:showing {
    -fx-background-color: -accent-color;
}

.menu-button .label {
    -fx-text-fill: -font-color;
}

/* Footer-Preferences */

.footer {
    -fx-background-color: -accent-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, -1);
}