/* FX-Variablen für die Anwendung und variable Änderung je nach Thema */
.root {
    -menubar-color: white;
    -font-color: #262626;
    -anwendung-bgr: #ececec;
    -accent-color: #0072a0;
    -warn-color: #8a2828;
    -menubar-text-color: black;
}

/* Allgemein */
* {
    -fx-font-family: 'Rubik';
    -fx-text-fill: -font-color;
}

.mainWindow {
    -fx-background-color: -anwendung-bgr;
    -fx-text-fill: -font-color;
}

/* Menü-Leiste */
#menuHauptButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.menu-title {
    -fx-text-fill: -accent-color;
}

.menu-bc {
    -fx-text-transform: darkgrey;
    -fx-font-weight: normal;
    -fx-text-fill: -menubar-text-color;
}

.menu-bar {
    -fx-background-color: -menubar-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 1);
}

/* Einstellungen Menü-Karte */
.icon-menu-karte {
    -fx-background-color: -menubar-color;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 1);
}

.icon-menu-button {
    -fx-background-color: transparent;
}

.icon-menu-button:hover {
    -fx-cursor: hand;
}

/* Weitere Textformatierungen */
.warnhinweis {
    -fx-text-fill: -warn-color;
}

.ueberschrift {
    -fx-font-size: 20px;
}

/* Generelles ScrollPane */
.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Footer-Leiste */
.footer {
    -fx-background-color: -menubar-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, -1);
}

.footerText {
    -fx-text-fill: -menubar-text-color;
}